
@{
	ViewBag.Title = "NotFound";
	Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" style="background-image:url(/img/hero.jpg); background-size:auto" data-image-src="~/img/hero.jpg">


		<div class="col-6">
			<h2>404 NOT FOUND</h2>
			<p>We're sorry, the page you are looking for is OUT of the range of pages available on our site.</p>
		</div>
</div>


