 @model PL.Models.PhotoAddViewModel
@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPhoto Page</h2>

@using (Html.BeginForm("AddPhoto", "Gallery", FormMethod.Post)) 
{
    @Html.TextBoxFor(m=>m.Path, new { type = "file" })
}

